body {
    background-color: rgb(37, 49, 102);
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}

div.container {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

div.users {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

div.userDiv {
    padding: .5rem;
    font-size: large;
    
}

div.userDiv:hover {
    cursor: pointer;
    color: white;
}

div.posts {
    width: 200px;
}